@model ImdbWeb.Models.Movies.AddMovie

@{
    ViewData["Title"] = "AddMovie";
}

<h2>AddMovie</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthInMin" class="control-label"></label>
                <input asp-for="LengthInMin" class="form-control" />
                <span asp-validation-for="LengthInMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" asp-items="Model.Genres" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ContentRating" class="control-label"></label>
                <select asp-for="ContentRating" asp-items="Model.Ratings" class="form-control"></select>
                <span asp-validation-for="ContentRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language" asp-items="Model.Languages" class="form-control"></select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>

            <div class="form-group">

                
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
